@CHARSET "UTF-8";

body {
  background-color: #ffffff;
  font-family: Verdana;
  font-size: 11pt;
  margin: 0;
}

hr {
  color: #f0f0f0;
}

input {
  margin: 3px;
}

.signup-input {
  width: 200px;
}

form {
  margin-bottom: 0;
}

.header {
  border: 1px #ffffff solid;
  background-color: #435a8e;
  height: 46px;
  width: inherit;
  text-align: right;
}

.footer {
  border: 1px #ffffff solid;
  background-color: #435a8e;
  height: 46px;
  width: inherit;
  text-align: right;
}

.centered {
  margin: 0 auto;
}

.signup {
  width: 400px;
  display: block;
  padding: 15px;
  padding-top: 25px;
  text-align: center;
}

.signup-btn {
  height: 32px !important;
  cursor: pointer;
}

.notification {
  font-size: 9pt !important;
  color: #808080;
}

.notification a {
  font-size: 10pt !important;
  color: #6d7b8d;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #808080;
  font-family: Verdana;
}

:-moz-placeholder {
  color: #808080;
  font-family: Verdana;
}

::-moz-placeholder {
  color: #808080;
  font-family: Verdana;
}

:-ms-input-placeholder {  
  color: #808080;
  font-family: Verdana;
}

.grey-block {
  padding: 5px;
  margin: 2px auto;
  border: 1px #ddd solid;
  background-color: #f0f0f0;
  clear: both;
}

.white-block {
  /* padding: 5px; */
  margin: 2px auto;
  border: 1px #ddd solid;
  background-color: #ffffff;
  clear: both;
}

.header-btn {
  margin-top: 8px;
  margin-right: 6px;
}

.green-btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
  background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  background-color:#9dce2c;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0px;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Verdana;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  height:26px;
  line-height:26px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 2px 1px #689324;
}
.green-btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
  background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
  background-color:#8cb82b;
}

.green-btn:active {
  position:relative;
  top:1px;
}

.fb-btn,
.fb-btn:visited {
  position: relative;
  z-index: 1;
  overflow: visible;
  display: inline-block;
  padding: 0.3em 0.6em 0.375em;
  border: 1px solid #999;
  border-bottom-color: #888;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
  white-space: nowrap;
  cursor: pointer;
  border-color: #29447e #29447e #1a356e;
  color: #fff;
  background-color: #5B74A8;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
  background-image: -moz-linear-gradient(#637bad, #5872a7);
  background-image: -o-linear-gradient(#637bad, #5872a7);
  background-image: linear-gradient(#637bad, #5872a7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', EndColorStr='#5872a7'); /* for IE 6 - 9 */
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
  zoom: 1;
  *display: inline;
}

.fb-btn:active {
  border-color: #29447E;
  background: #4F6AA3;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fb-btn:before {
  content: "";
  position: relative;
  top: 1px;
  float:left;
  width: 17px;
  height: 17px;
  margin: 0 0.5em 0 0;
  background: url(../images/common/fb-logo.png) no-repeat;
}